.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .col-6 {
    flex: 0 0 auto;
    width: 50%;

    @media only screen and (max-width: 991px) {
      width: 100%;
    }
  }

  .self-center {
    align-self: center;
  }
}