/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$roboto: 'Roboto', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/** Colors **/
$primary: #1976d2;
$primaryD: #004ba0;
$primaryL: #63a4ff;

$light: #fff;
$semiLight: #fafafa;

$dark: #333;
$extraDark: #1a1a1a;